<h2 mat-dialog-title>Adicionar Alunos</h2>
<mat-dialog-content class="mat-typography">
  <form>
    <div class="flex-container wrap">

      <mat-form-field class="flex-item" appearance="standard">
        <mat-label>Digite o email</mat-label>
        <input matInput [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <button  mat-mini-fab color="primary" (click)="listar()">
        <mat-icon>search</mat-icon>
      </button>
    </div>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef> Nome </th>
          <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="selection.toggle(row)">
        </tr>
      </table>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="flex-container-botao2">
    <button mat-raised-button mat-dialog-close>Cancelar</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="selection.selected" cdkFocusInitial>Salvar</button>
  </div>
</mat-dialog-actions>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
