<div class="div-conteiner">
    <mat-card class="mat-card">
        <mat-card-title class="card-titulo">Nova Turma</mat-card-title>
      <form>
      <mat-card-content class="card-content">
          <div class="flex-container wrap">
            <mat-form-field class="flex-item2" appearance="standard">
            <mat-label>Nome</mat-label>
            <input matInput [(ngModel)]="turma.nome"  name="nome" placeholder="Nome">
          </mat-form-field>
          </div>
      </mat-card-content>
      <div class="flex-container-botao2">
          <button mat-raised-button [routerLink]="'/turma'">Voltar</button>
          <button mat-raised-button color="primary" (click)="salvar()">Salvar</button>
      </div>
    </form>
    </mat-card>
  </div>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
