/* You can add global styles to this file, and also import other style files */
$mdc-theme-primary: #1565c0; // primary color
$mdc-theme-secondary: #388e3c; // secondary color

@import "~@angular-mdc/theme/material";


html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.container{
    height: 100%;
}


.div-conteiner{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.card-titulo{
    font-size: 18px !important;
    font-weight: 400;
    margin: 0;
    line-height: 32px;
    display: block;
    margin-bottom: 8px;
}

.th-acoes{
  width: 50px;
}
